<mat-card>
    <mat-card-header>
      <section>
        <div mat-card-avatar class="header-image"></div>
        <div class="mat-card-container">
          <mat-card-title>Тест по внедрению зависимости</mat-card-title>
          <mat-card-subtitle>
            <span class="subtitle1">Насколько вы разбираетесь в этом механизме Ангуляра?</span>
            <span class="subtitle2">Пройдите тест и узнайте!</span>
          </mat-card-subtitle>
        </div>
      </section>
      <div mat-card-image class="quiz-topic-img"></div>
    </mat-card-header>
  
    <mat-card-actions>
      <button mat-raised-button type="button" disableRipple="false" (click)="startQuiz()">Начать!</button>
    </mat-card-actions>
  </mat-card>
  